<div
  style="
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: stretch;
    margin: 30px auto;
    max-width: 100%;
  "
>
  <div style="flex: 1; display: flex">
    <img
      src="{{ .Get 0 }}"
      style="
        margin: 0 !important;
        width: 100% !important;
        border: 1px solid rgba(0, 243, 255, 0.2);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
        object-fit: contain;
      "
    />
  </div>
  <div style="flex: 1; display: flex">
    <img
      src="{{ .Get 1 }}"
      style="
        margin: 0 !important;
        width: 100% !important;
        border: 1px solid rgba(0, 243, 255, 0.2);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
        object-fit: contain;
      "
    />
  </div>
</div>
